{% extends "base.html" %}

<table class="table table-bordered table-fixed">
    <thead>
      <tr>
        <th class="text-center" scope="col">Topic</th>
        <th class="text-center" scope="col">Sub-Topic</th>
        <th class="text-center" scope="col">Judgement</th>
        <th class="text-center" scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="3">1.1.1 Structure and function of the processor</td>
        <td>(a) The Arithmetic and Logic Unit; ALU, Control Unit and Registers (Program Counter; PC,
          Accumulator; ACC, Memory Address Register; MAR, Memory Data Register; MDR, Current Instruction
          Register; CIR). Buses: data, address and control: how this relates to assembly language programs
        </td>
        <td>
          <div class="text-center">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
                <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
              </div>

            <input type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off">
<label class="btn btn-outline-secondary" for="btn-check-2-outlined">Checked</label><br>


            <div class="btn-group-vertical " role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip"
                data-bs-placement="left"
                title="You haven't studied this topic aside from when you were taught it">Not
                Studied</button>
              <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="left"
                title="You don't understand this at all, you need help with the topic again from your teacher">Need
                Help</button>
              <button type="button" class="btn btn-warning" data-bs-toggle="tooltip"
                data-bs-placement="left"
                title="You understand this but you need to put more time in to study this topic">Needs More
                Study</button>
              <button type="button" class="btn btn-success" data-bs-toggle="tooltip"
                data-bs-placement="left"
                title="You have a good understanding of this topic and would achieve at least your target grade if it came up">Understanding</button>
              <button type="button" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="left"
                title="You are very strong at this topic and are likely to get full marks if it came up">Expert</button>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>(b) The Fetch-Decode-Execute Cycle; including its effects on registers.</td>
        <td>
          <div class="text-center">
            <div class="btn-group-vertical " role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip"
                data-bs-placement="left"
                title="You haven't studied this topic aside from when you were taught it">Not
                Studied</button>
              <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="left"
                title="You don't understand this at all, you need help with the topic again from your teacher">Need
                Help</button>
              <button type="button" class="btn btn-warning" data-bs-toggle="tooltip"
                data-bs-placement="left"
                title="You understand this but you need to put more time in to study this topic">Needs More
                Study</button>
              <button type="button" class="btn btn-success" data-bs-toggle="tooltip"
                data-bs-placement="left"
                title="You have a good understanding of this topic and would achieve at least your target grade if it came up">Understanding</button>
              <button type="button" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="left"
                title="You are very strong at this topic and are likely to get full marks if it came up">Expert</button>
            </div>
          </div>
        </td>
      </tr>
      <td>(c) The factors affecting the performance of the CPU:clock speed, number of cores, cache</td>
      <td>
        <div class="text-center">
          <div class="btn-group-vertical " role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip"
              data-bs-placement="left"
              title="You haven't studied this topic aside from when you were taught it">Not Studied</button>
            <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="left"
              title="You don't understand this at all, you need help with the topic again from your teacher">Need
              Help</button>
            <button type="button" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="left"
              title="You understand this but you need to put more time in to study this topic">Needs More
              Study</button>
            <button type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="left"
              title="You have a good understanding of this topic and would achieve at least your target grade if it came up">Understanding</button>
            <button type="button" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="left"
              title="You are very strong at this topic and are likely to get full marks if it came up">Expert</button>
          </div>
        </div>
      </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>

</div>
<!-- end of table card -->

<!-- start of table card -->
<div class="col-12">
<div class="p-3">
<div class="card">
<div class="card-body table-responsive">
  <h5 class="card-title">Learning Checklist - Computer science Unit 2: Algorithms and Programming</h5>
  <h6 class="card-subtitle mb-2 text-muted">Bobby Jones</h6>

  <table class="table table-bordered table-responsive table-fixed">
    <thead>
      <tr>
        <th class="text-center" scope="col">Topic</th>
        <th class="text-center" scope="col">Sub-Topic</th>
        <th class="text-center" scope="col">Judgement</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="3">1.1.1 Structure and function of the processor</td>
        <td>(a) The Arithmetic and Logic Unit; ALU, Control Unit and Registers (Program Counter; PC,
          Accumulator; ACC, Memory Address Register; MAR, Memory Data Register; MDR, Current Instruction
          Register; CIR). Buses: data, address and control: how this relates to assembly language programs
        </td>
        <td>
          <div class="text-center">
            <div class="btn-group-vertical " role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip"
                data-bs-placement="left"
                title="You haven't studied this topic aside from when you were taught it">Not
                Studied</button>
              <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="left"
                title="You don't understand this at all, you need help with the topic again from your teacher">Need
                Help</button>
              <button type="button" class="btn btn-warning" data-bs-toggle="tooltip"
                data-bs-placement="left"
                title="You understand this but you need to put more time in to study this topic">Needs More
                Study</button>
              <button type="button" class="btn btn-success" data-bs-toggle="tooltip"
                data-bs-placement="left"
                title="You have a good understanding of this topic and would achieve at least your target grade if it came up">Understanding</button>
              <button type="button" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="left"
                title="You are very strong at this topic and are likely to get full marks if it came up">Expert</button>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>(b) The Fetch-Decode-Execute Cycle; including its effects on registers.</td>
        <td>
          <div class="text-center">
            <div class="btn-group-vertical " role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip"
                data-bs-placement="left"
                title="You haven't studied this topic aside from when you were taught it">Not
                Studied</button>
              <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="left"
                title="You don't understand this at all, you need help with the topic again from your teacher">Need
                Help</button>
              <button type="button" class="btn btn-warning" data-bs-toggle="tooltip"
                data-bs-placement="left"
                title="You understand this but you need to put more time in to study this topic">Needs More
                Study</button>
              <button type="button" class="btn btn-success" data-bs-toggle="tooltip"
                data-bs-placement="left"
                title="You have a good understanding of this topic and would achieve at least your target grade if it came up">Understanding</button>
              <button type="button" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="left"
                title="You are very strong at this topic and are likely to get full marks if it came up">Expert</button>
            </div>
          </div>
        </td>
      </tr>
      <td>(c) The factors affecting the performance of the CPU:clock speed, number of cores, cache</td>
      <td>
        <div class="text-center">
          <div class="btn-group-vertical " role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip"
              data-bs-placement="left"
              title="You haven't studied this topic aside from when you were taught it">Not Studied</button>
            <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="left"
              title="You don't understand this at all, you need help with the topic again from your teacher">Need
              Help</button>
            <button type="button" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="left"
              title="You understand this but you need to put more time in to study this topic">Needs More
              Study</button>
            <button type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="left"
              title="You have a good understanding of this topic and would achieve at least your target grade if it came up">Understanding</button>
            <button type="button" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="left"
              title="You are very strong at this topic and are likely to get full marks if it came up">Expert</button>
          </div>
        </div>
      </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>

</div>
<!-- end of table card -->